<!DOCTYPE html>
<html>

<head>
    <title></title>
    <style type="text/css">
    * {
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 14px;
        margin: 0;
    }

    a {
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }

    .container {
        width: 800px;
        display: block;
        margin: 0 auto;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    }

    .header {
        padding: 20px 20px 18px 20px;
        background: #5FB471;
        color: #fff;
    }

    .header h2 {
        font-size: 16px;
        line-height: 15px;
        display: inline-block;
    }

    .header a {
        display: inline-block;
        float: right;
        background: #3d8b4e;
        font-size: 25px;
        line-height: 20px;
        padding: 3px 6px;
        margin-top: -5px;
        border-radius: 2px;
    }

    .chat-box,
    .enter-message {
        background: #ECECEC;
        padding: 0 20px;
        color: #a1a1a1;
    }

    .chat-box .message-box {
        padding: 18px 0 10px;
        clear: both;
    }

    .message-box .picture {
        float: left;
        width: 50px;
        display: block;
        padding-right: 10px;
    }

    .picture img {
        width: 43px;
        height: 48px;
        border-radius: 5px;
    }

    .picture span {
        font-weight: bold;
        font-size: 12px;
        clear: both;
        display: block;
        text-align: center;
        margin-top: 3px;
    }

    .message {
        background: #fff;
        display: inline-block;
        padding: 13px;
        width: 640px;
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
        position: relative;
    }

    .message:before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        border-right: 6px solid #fff;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        top: 10px;
        margin-left: -6px;
    }

    .message span {
        color: #555;
        font-weight: bold;
    }

    .message p {
        padding-top: 5px;
    }

    .message-box.right-img .picture {
        float: right;
        padding: 0;
        padding-left: 10px;
    }

    .message-box.right-img .picture img {
        float: right;
    }

    .message-box.right-img .message:before {
        left: 100%;
        margin-right: 6px;
        margin-left: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid #fff;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }

    .enter-message {
        padding: 13px 0px;
    }

    .enter-message input {
        border: none;
        padding: 10px 12px;
        background: #d3d3d3;
        width: 260px;
        border-radius: 2px;
    }

    .enter-message a.send {
        padding: 10px 15px;
        background: #6294c2;
        border-radius: 2px;
        float: right;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>Chat</h2>
            <!-- <a href="#" title="Add Friend to this chat">+</a> -->
        </div>
        <div class="chat-box">
          {{{chat}}}
            <!-- <div class="message-box left-img">
                <div class="picture">
                    <img src="https://orig00.deviantart.net/e5bc/f/2013/264/7/f/kawaii_bunny_png_by_snsdmiho22-d6n5vse.png" title="user name" />
                    <span class="time">10 mins</span>
                </div>
                <div class="message">
                    <span>Bobby Giangeruso</span>
                    <p>Hey Mike, how are you doing?</p>
                </div>
            </div> -->
            <!--     <div class="message-box right-img">
      <div class="picture">
        <img src="https://dribbble.s3.amazonaws.com/users/212696/avatars/small/monogram_pixel_perfect.png?1359994784" title="user name"/>
        <span class="time">2 mins</span>
      </div>
      <div class="message">
        <span>Mike Moloney</span>
        <p>Pretty good, Eating nutella, nommommom</p>
      </div>
    </div>
 -->
            <!--     <div class="enter-message">
      <input type="text" placeholder="Enter your message.."/>
      <a href="#" class="send">Send</a>
    </div>
 --></div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
    var socket = io.connect('http://18.221.71.184');
    socket.on('chat{{channel}}', function(data) {
      $('.chat-box').append(`<div class="message-box left-img">
                                <div class="picture">
                                    <img src="https://orig00.deviantart.net/e5bc/f/2013/264/7/f/kawaii_bunny_png_by_snsdmiho22-d6n5vse.png" title="user name" />
                                    <!-- <span class="time">10 mins</span> -->
                                </div>
                                <div class="message">
                                    <!-- <span>Bobby Giangeruso</span> -->
                                    <p>${data}</p>
                                </div>
                            </div>`)
    });
    </script>
</body>

</html>